a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

page-home {
    .content,
    #map {
        height: 100%;
    }

    .fixed-content,
    .scroll-content {
        margin-bottom: 0 !important;
    }
}
